fastapi
uvicorn
openai
requests
beautifulsoup4
rich
python-dotenv
pydantic
pydantic-settings
aiohttp
langchain
langgraph
python-dotenv
requests

streamlit
PyPDF2
python-docx
pandas
rich
python-dotenv
google-generativeai
google-genai
supabase
scikit-learn
nltk
spacy
shap
faiss-cpu
matplotlib
seaborn
tavily-python
